# docker-compose.yml

services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"  # Exponer puerto para pgAdmin4
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

    env_file:
      - .env
    networks:
      - chatbot-net

    restart: unless-stopped
  backend:
    build: ./backend
    container_name: django_backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - chatbot-net

  frontend:
    build: ./frontend/pruebaIA
    container_name: angular_frontend
    ports:
      - "4200:80"
    networks:
      - chatbot-net

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    networks:
      - chatbot-net
    depends_on:
      - db

# Definición del volumen para persistir los datos de la base de datos
volumes:
  postgres_data:

# Definición de la red personalizada para asegurar la comunicación entre servicios
networks:
  chatbot-net:
    driver: bridge