<nav *ngIf="showNavbar" class="navbar">
  <div class="nav-container">
    <h1 class="nav-title">
      <span *ngIf="!isTeacher()">
        <a class="brand" routerLink="/">
          <img src="assets/classmind-color.png" alt="ClassMind" class="brand-logo" />
        </a>
      </span>
      <span *ngIf="isTeacher()">Profesores</span>
    </h1>
    <!-- <div class="nav-links">
      <a *ngIf="!isTeacher()" class="nav-mi-diario" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        ✍️ Mi Diario
      </a>
      <a *ngIf="isTeacher()" routerLink="/dashboard" routerLinkActive="active">
        📊 Dashboard
      </a>
    </div> -->
  </div>
</nav>

<main class="main-content" [class.no-navbar]="!showNavbar">
  <router-outlet></router-outlet>
</main>